In [2]:
import pandas as pd
import nltk
import string

In [3]:
df = pd.read_csv('AllTweets.csv')
df.head(10)

,Unnamed: 0.1,Unnamed: 0,ix,date,id,link,retweet,text,author
0,0,0,0,18h18 hours ago,7.870000e+17,/NASA/status/787029214612586496,False,software spacestation communications faster ea...,NASA
1,1,1,1,19h19 hours ago,7.870000e+17,/NASA/status/787008587927281664,False,ready orbitalatks antares rocket cargo ship se...,NASA
2,2,2,2,17h17 hours ago,7.870000e+17,/NASA/status/787042156116664320,False,rocket 803pm et sunday deliver cargo spacestat...,NASA
3,3,3,3,47m47 minutes ago,7.870000e+17,/NASA/status/787284414732472320,False,happened week potus outlined explorations futu...,NASA
4,4,4,4,24h24 hours ago,7.870000e+17,/NASA/status/786934496625102848,False,energize study makes sure astronauts energy sp...,NASA
5,5,5,5,20h20 hours ago,7.870000e+17,/NASA/status/786989459741048832,False,discover treasure chandraxray images digital a...,NASA
6,6,6,6,21h21 hours ago,7.870000e+17,/NASA/status/786974115949404160,False,hurricane nicole moved past bermuda racing eas...,NASA
7,7,7,7,22h22 hours ago,7.870000e+17,/NASA/status/786960144781434880,False,galaxy seen nasahubble bursting star formation...,NASA
8,8,8,8,23h23 hours ago,7.870000e+17,/NASA/status/786951706311614465,False,dep admin davaexplorer helped lead discussion ...,NASA
9,9,9,9,13-Oct,7.870000e+17,/NASA/status/786572958315778048,False,whfrontiers conference we’re joining innovator...,NASA

In [4]:
df['clean_text']=df['text'].str.lower()
df.head()

,Unnamed: 0.1,Unnamed: 0,ix,date,id,link,retweet,text,author
0,0,0,0,18h18 hours ago,7.870000e+17,/NASA/status/787029214612586496,False,software spacestation communications faster ea...,NASA
1,1,1,1,19h19 hours ago,7.870000e+17,/NASA/status/787008587927281664,False,ready orbitalatks antares rocket cargo ship se...,NASA
2,2,2,2,17h17 hours ago,7.870000e+17,/NASA/status/787042156116664320,False,rocket 803pm et sunday deliver cargo spacestat...,NASA
3,3,3,3,47m47 minutes ago,7.870000e+17,/NASA/status/787284414732472320,False,happened week potus outlined explorations futu...,NASA
4,4,4,4,24h24 hours ago,7.870000e+17,/NASA/status/786934496625102848,False,energize study makes sure astronauts energy sp...,NASA

In [5]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

[nltk_data] Error loading stopwords: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

In [8]:
def remove_stop(x):    
    return " ".join([word for word in str(x).split() if word not in stop_words])
df['clean_text']=df['text'].apply(lambda x : remove_stop(x))

In [9]:
df.head()

,Unnamed: 0.1,Unnamed: 0,ix,date,id,link,retweet,text,author
0,0,0,0,18h18 hours ago,7.870000e+17,/NASA/status/787029214612586496,False,software spacestation communications faster ea...,NASA
1,1,1,1,19h19 hours ago,7.870000e+17,/NASA/status/787008587927281664,False,ready orbitalatks antares rocket cargo ship se...,NASA
2,2,2,2,17h17 hours ago,7.870000e+17,/NASA/status/787042156116664320,False,rocket 803pm et sunday deliver cargo spacestat...,NASA
3,3,3,3,47m47 minutes ago,7.870000e+17,/NASA/status/787284414732472320,False,happened week potus outlined explorations futu...,NASA
4,4,4,4,24h24 hours ago,7.870000e+17,/NASA/status/786934496625102848,False,energize study makes sure astronauts energy sp...,NASA

In [10]:
punct = string.punctuation

In [11]:
def remove_punctuation(x):
    return (x.translate(str.maketrans("","",punct)))
df['clean_text']= df['text'].apply(lambda x:remove_punctuation(x))

In [12]:
df.head()

,Unnamed: 0.1,Unnamed: 0,ix,date,id,link,retweet,text,author
0,0,0,0,18h18 hours ago,7.870000e+17,/NASA/status/787029214612586496,False,software spacestation communications faster ea...,NASA
1,1,1,1,19h19 hours ago,7.870000e+17,/NASA/status/787008587927281664,False,ready orbitalatks antares rocket cargo ship se...,NASA
2,2,2,2,17h17 hours ago,7.870000e+17,/NASA/status/787042156116664320,False,rocket 803pm et sunday deliver cargo spacestat...,NASA
3,3,3,3,47m47 minutes ago,7.870000e+17,/NASA/status/787284414732472320,False,happened week potus outlined explorations futu...,NASA
4,4,4,4,24h24 hours ago,7.870000e+17,/NASA/status/786934496625102848,False,energize study makes sure astronauts energy sp...,NASA

In [13]:
from collections import Counter
cnt = Counter()
for text in df['text'].values:
    for word in text.split():
        cnt[word]+=1
cnt.most_common(50)

[('want', 1325),
 ('years', 1320),
 ('earth', 1302),
 ('thanks', 1292),
 ('cant', 1288),
 ('much', 1278),
 ('u', 1271),
 ('work', 1258),
 ('night', 1257),
 ('take', 1256),
 ('never', 1245),
 ('2', 1228),
 ('et', 1227),
 ('right', 1225),
 ('world', 1212),
 ('going', 1196),
 ('thank', 1174),
 ('spacestation', 1166),
 ('happy', 1159),
 ('learning', 1148),
 ('shuttle', 1124),
 ('check', 1121),
 ('many', 1118),
 ('image', 1114),
 ('country', 1106),
 ('better', 1103),
 ('way', 1097),
 ('donald', 1095),
 ('really', 1088),
 ('year', 1087),
 ('kdn', 1076),
 ('–', 1065),
 ('1', 1047),
 ('ever', 1043),
 ('show', 1037),
 ('could', 1027),
 ('10', 1022),
 ('next', 1021),
 ('got', 1003),
 ('every', 997),
 ('—president', 994),
 ('vote', 992),
 ('crew', 980),
 ('help', 960),
 ('americans', 955),
 ('tv', 945),
 ('mission', 941),
 ('news', 927),
 ('still', 922),
 ('made', 912)]

In [14]:
#freq_words=set([w for (w,wc) in cnt.most_common(50)])
#freq_words

In [25]:
#def remove_freq(x):
#    return " ".join([word for word in str(x).split() if word not in freq_words])

#df['text']= df['text'].apply(lambda x: remove_freq(x))

In [15]:
df.head(10)

,Unnamed: 0.1,Unnamed: 0,ix,date,id,link,retweet,text,author
0,0,0,0,18h18 hours ago,7.870000e+17,/NASA/status/787029214612586496,False,software spacestation communications faster ea...,NASA
1,1,1,1,19h19 hours ago,7.870000e+17,/NASA/status/787008587927281664,False,ready orbitalatks antares rocket cargo ship se...,NASA
2,2,2,2,17h17 hours ago,7.870000e+17,/NASA/status/787042156116664320,False,rocket 803pm et sunday deliver cargo spacestat...,NASA
3,3,3,3,47m47 minutes ago,7.870000e+17,/NASA/status/787284414732472320,False,happened week potus outlined explorations futu...,NASA
4,4,4,4,24h24 hours ago,7.870000e+17,/NASA/status/786934496625102848,False,energize study makes sure astronauts energy sp...,NASA
5,5,5,5,20h20 hours ago,7.870000e+17,/NASA/status/786989459741048832,False,discover treasure chandraxray images digital a...,NASA
6,6,6,6,21h21 hours ago,7.870000e+17,/NASA/status/786974115949404160,False,hurricane nicole moved past bermuda racing eas...,NASA
7,7,7,7,22h22 hours ago,7.870000e+17,/NASA/status/786960144781434880,False,galaxy seen nasahubble bursting star formation...,NASA
8,8,8,8,23h23 hours ago,7.870000e+17,/NASA/status/786951706311614465,False,dep admin davaexplorer helped lead discussion ...,NASA
9,9,9,9,13-Oct,7.870000e+17,/NASA/status/786572958315778048,False,whfrontiers conference we’re joining innovator...,NASA

In [16]:
df1=df

In [17]:
df1.to_csv('AllTweets10.csv')